<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    {% if header == true %}
    <div class="header">
        <img src="assets/app icon.png" alt="" id="appIcon">
        <img src="assets/app bar.png" alt="" id="appBar">
    </div>
    {% endif %}

    <div class="body">

        <h1>About Us</h1>
        <p>
            <strong>Shakunt Foods</strong> is a proprietory firm established 
            in the year 2015 with a vision to serve Home Made, Hygienic 
            Food to Corporate Employees.
        </p>

        <p>
            Since then, <strong>Preeti Bhojan</strong> (a Brand of 
            Shakunt Foods) has become an epitome of Homely Cuisine. 
            It is one of the promising names in the catering business 
            and the food we serve is exceedingly popular among the 
            people from all walks of life. Especially the employees 
            from a number of industrial and commercial establishments 
            prefer to have our food during working hours. 
        </p>

        <p>
            We serve Pure Veg food which comes with the following
            inherent qualities:
        </p>

        <ul>
            <li>Made in Hygienic conditions with Farm Fresh Vegetables</li>
            <li>Packaged in Food Grade, Leak Proof, Microwave Safe, 
                Biodegradable Plastic Container</li>
            <li>Lavish Menu</li>
            <li>Reasonable Cost</li>
        </ul>

        <p>
            We offer Premium Tiffin Service on a regular basis and 
            leave no room for complaints on account of delay or 
            unhygenic service.
        </p>

        <p>
            Our Proprietor Mrs. Preetisha Ruparel is a Master Chef and
            Backbone of our Business.
        </p>
    </div>
</body>

</html>