<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cancellation and Refund</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    
    <body>
        {% if header == true %}
        <div class="header">
            <img src="assets/app icon.png" alt="" id="appIcon">
            <img src="assets/app bar.png" alt="" id="appBar">
        </div>
        {% endif %}

        <div class="body">
            <h1>Cancellation and Refund Policy</h1>

            <p>
                Due to the nature of goods provided, we cannot initiate 
                refund after preparation of tiffin. You can however 
                choose to cancel further orders and get a refund for the 
                tiffin’s not delivered. Our policy for cancellation and 
                refund will be as follows: 
            </p>

            <h2>Cancellation Pollicy</h2>

            <p>
                Tiffin’s need to be cancelled before a specified time 
                defined in our application. We reserve the right to 
                change the time before which you can cancel tiffin. 
            </p>

            <p>
                The amount of cancelled tiffin’s is added to your credit 
                which can be utilized in future orders or can be refunded. 
            </p>
            
            <h2>Refund Policy</h2>

            <p>
                The money available in credit can be refunded by UPI 
                or NEFT. 
            </p>

            <p>
                The rules of refunds are as follows: 
            </p>

            <ol>
                <li> <p> 
                    If the number of meals in a month is less than 12, 
                    then the calculation of meals will be as per the 
                    need based customer and the difference will be 
                    deducted from credit/deposit. 
                </p> </li>

                <li> <p>
                    The amount will be refunded after due checking 
                    within 7 working days. 
                </p> </li>
            </ol>
        </div>
    </body>
</html>