<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>

    <body>
        {% if header == true %}
        <div class="header">
            <img src="assets/app icon.png" alt="" id="appIcon">
            <img src="assets/app bar.png" alt="" id="appBar">
        </div>
        {% endif %}

        <div class="body">
            <h1>Contact Us</h1>

            <h2>Shakunt Foods</h2>

            <p>
                <strong>Registered Address :</strong>
            </p>

            <p>
                504/A1 Prestige Panorma, <br>
                Keshavnagar, Mundhwa, Pune 
            </p>

            <p>
                <strong>Manufacturing Address :</strong> <br>                
            </p>

            <p>
                504/A1 Prestige Panorma, <br>
                Keshavnagar, Mundhwa, Pune <br>
            </p>

            <br>
            <h2>Contact Detail</h2>
            <p>
                <strong>Contact Person : </strong> Tushar Ruparel
            </p>

            <p>
                <strong>Contact Number : </strong> +91 7030700477
            </p>

            <p>
                <strong>Email: </strong> preetibhojan@gmail.com
            </p>


        </div>
    </body>
</html>