<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Greetings from Preeti Bhojan</title>
</head>

<body style="background-color: rgb(0, 122, 164); opacity: 1.0; margin: 0; color: white;">
    <style>        
        table, th, td {
            border: 2px solid white;
            border-collapse: collapse;
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

        table {
            margin-left: 30px;
        }
    </style>

    {% if header == true %}
    <div style="background-color: rgb(39, 43, 75); display: flex; width: 100%;">
        <!-- gmail is not able to open url with spaces so had to add %20 instead -->
        <img src="https://preetibhojan.co.in/web/assets/app%20icon.png" 
        alt="Logo" title="Logo" 
        style="width: 10%; height: 10%; max-width: 95px; max-height: 95px; 
        background-color: white;border-radius: 50%;margin: 7px; display:block;">
        <img src="https://preetibhojan.co.in/web/assets/app%20bar.png" 
        alt="App bar" title="App bar"
        style="width: 40%; height: 7%; margin: 10px; max-height: 120px; max-width: 480px; display:block;">
    </div>
    {% endif %}

    <div style="margin: 10px; padding: 0;">
        <p style="color: white; text-align: justify;">Hey {{ name }},</p>
        
        <p style="color: white; text-align: justify;">
            I’m Tushar, the founder of Shakunt Foods and I’d like 
            to personally thank you for signing up to our service.
        </p>

        <p style="color: white; text-align: justify;">
            We established Shakunt Foods in order to provide Home 
            Made, Hygienic Tiffins to Corporate Employees. 
        </p style="color: white; text-align: justify;">

        <p style="color: white; text-align: justify;">
            I’d love to hear what you think of our food and if there 
            is anything we can improve. If you have any questions, 
            please reply to this email. I’m always happy to help!
        </p>

        <p style="color: white; text-align: justify;">
            Meanwhile, here is some basic info, you would need 
            to use the app:
        </p>

        <p style="color: white; text-align: justify;">
            There are two types of customers: Regular
            and Need Based. When you register, you are Need Based
            Customer by default. <strong style="color: white;">Need Based Customer</strong> means 
            a Customer who books as and when they require. 
            <strong style="color: white;">Regular Customer </strong> means a customer who 
            requires tiffin on regular basis. 
        </p>

        <p style="color: white; text-align: justify;">
            <strong style="color: white;">Advantages of being a regular customer</strong> <br>
            
            <ol>
                <li style="color: white;">Discounted price applicable</li>
                <li style="color: white;">Complementary Sweet served once a week</li>                
            </ol>
            
        </p>

        <p style="color: white; text-align: justify;">
            <strong style="color: white;">How can I schedule?</strong>            
        </p>

        <ol>
            <li style="color: white;">Press the icon on the top left</li>
            <li style="color: white;">
                Go to Meal Management -> Schedule your next week's 
                meal
            </li>
            <li style="color: white;">To schedule, at least 1 meal needs to be scheduled 
                for 3 days
            </li>
            <li style="color: white;">Schedule is effective from next day after payment</li>
        </ol>

        <p style="color: white; text-align: justify;">
            <strong style="color: white;">How can I change my schedule/package?</strong>            
        </p>

        <ol>
            <li style="color: white;">Press the icon on the top left</li>
            <li style="color: white;">Go to Meal Management -> Revise Your Schedule</li>
            <li style="color: white;">Change the schedule as required</li>
            <li style="color: white;">
                Revised schedule is effective from next day after 
                payment (if applicable)
            </li>
        </ol>
        
        <p style="color: white; text-align: justify;">
            <strong style="color: white;">How to cancel scheduled tiffin?</strong>
        </p>

        <ol>
            <li style="color: white;">Press the icon on the top left</li>
            <li style="color: white;">
                Go to Meal Management -> Cancel Your Future Meals
            </li>
            <li style="color: white;">
                Select the tiffins to cancel and click on Cancel
            </li>
            <li style="color: white;">
                Cost of cancelled tiffins will be credited in 
                to account which can be used in future payments
            </li>
        </ol>

        <p style="color: white; text-align: justify;">
            <strong style="color: white;">How to resume cancelled tiffin?</strong>
        </p>

        <ol>
            <li style="color: white;">Press the icon on the top left</li>
            <li style="color: white;">
                Go to Meal Management -> Resume Your Cancelled Meals
            </li>
            <li style="color: white;">
                Select the tiffins to Resume and click on Resume
            </li>            
        </ol>

        <p><strong style="color: white;">How to book tiffins for today?</strong></p>

        <ol>
            <li style="color: white;">Click on the meal to book</li>
            <li style="color: white;">
                Click on the package needed
            </li>
            <li style="color: white;">Select the required quantity</li>            
            <li style="color: white;">Click on Update Cart</li>
            <li style="color: white;">Go to cart and select Proceed to pay/Book</li>
            <li style="color: white;">Booking is effective only after successful payment</li>
        </ol>

        <p style="color: white; text-align: justify;">
            <strong style="color: white;">How to cancel today's tiffin(s)?</strong>
        </p>

        <ol>
            <li style="color: white;">Go to cart</li>            
            <li style="color: white;">
                Decrease the quantity of tiffin until it reaches the 
                desired quantity or zero
            </li>
            <li style="color: white;">
                Click on book
            </li>
            <li style="color: white;">
                Cost of cancelled tiffins will be credited in 
                to account which can be used in future payments
            </li>            
        </ol>

        <p style="color: white; text-align: justify;">
            <strong style="color: white;">By when can I book or cancel today's tiffin?</strong>
        </p>        
        <table style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px; margin-right: 30px">            
            <tr style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">
                <th style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">Meal</th>
                <th style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">Time</th>
            </tr>
            
            <tr style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">
                <td style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">Breakfast</td>
                <td style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">07:30 AM</td>                
            </tr>
            
            <tr style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">
                <td style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">Lunch</td>
                <td style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">11:00 AM</td>                
            </tr>

            <tr style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">
                <td style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">Evening Snacks</td>
                <td style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">03:30 PM</td>
            </tr>

            <tr style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">
                <td style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">Dinner</td>
                <td style="border: 2px solid white; border-collapse: collapse; padding: 10px; padding-left: 30px; padding-right: 30px;">05:00 PM</td>
            </tr>
        </table>

        <p style="color: white; text-align: justify;">Regards,</p>
        <p style="color: white; text-align: justify;">Tushar Ruparel</p>

        Handheld : +917030700477<br>
        <div style="color: white;">
            Email id : customer_care@preetibhojan.co.in
        </div>
    </div>
</body>

</html>