<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    {% if header == true %}
    <div class="header">        
        <img src="assets/app icon.png" alt="" id="appIcon">    
        <img src="assets/app bar.png" alt="" id="appBar">
    </div>
    {% endif %}

    <div class="body">
        <h1>Privacy Policy</h1>

        <p>
            The terms "We" / "Us" / "Our"/”Company” individually and
            collectively refer to Shakunt Foods and the terms
            "You" /"Your" / "Yourself" refer to the users.
        </p>
    
        <p>
            This Privacy Policy is an electronic record in the form of
            an electronic contract formed under the information
            Technology Act, 2000 and the rules made thereunder and
            the amended provisions pertaining to electronic documents
            / records in various statutes as amended by the information
            Technology Act, 2000. This Privacy Policy does not require
            any physical, electronic or digital signature.
        </p>
    
        <p>
            This Privacy Policy is a legally binding document between
            you and Shankunt Foods. The terms of this Privacy Policy
            will be effective upon your acceptance of the same
            (directly or indirectly in electronic form, by clicking
            on the I accept tab or by use of the app or by other means)
            and will govern the relationship between you and Shakunt
            Foods for your use of the app “Preeti Bhojan”.
        </p>
    
        <p>
            This document is published and shall be construed in
            accordance with the provisions of the Information Technology
            (reasonable security practices and procedures and sensitive
            personal data of information) rules, 2011 under Information
            Technology Act, 2000; that require publishing of the Privacy
            Policy for collection, use, storage and transfer of sensitive
            personal data or information.
        </p>
    
        <p>
            Please read this Privacy Policy carefully by using the App,
            you indicate that you understand, agree and consent to this
            Privacy Policy. If you do not agree with the terms of this
            Privacy Policy, please do not use this App.
        </p>
    
        <p>
            By providing us your Information or by making use of the
            facilities provided by the App, You hereby consent to the
            collection, storage, processing and transfer of any or all
            of Your Personal Information and Non-Personal Information
            by us as specified under this Privacy Policy. You further
            agree that such collection, use, storage and transfer of
            Your Information shall not cause any loss or wrongful gain
            to you or any other person.
        </p>
    
        <h2>
            USER INFORMATION
        </h2>
    
        <p>
            To avail certain services on our app, users are
            required to provide certain information for the
            registration process namely: - a) your name, b)
            email address, c) Home and/or office address
            d) payment details e) password etc.
    
            All required information is service dependent and
            we may use the above said user information to, maintain,
            protect, and improve its services and for deve new services
    
            Such information will not be considered as sensitive if
            it is freely available and accessible in the public domain
            or is furnished under the Right to Information Act, 2005 or
            any other law for the time being I force.
        </p>
    
        <h2>COOKIES</h2>
    
        <p>Our app does not collect and/or store cookies</p>
    
        <h2>INFORMATION SHARING</h2>
    
        <p>
            We share the sensitive personal information to any third
            party without obtaining the prior consent of the user in
            the following limited circumstances:
        </p>
    
        <ol>
            <li>
                When it is requested or required by law or by any court
                or governmental agency or authority to disclose, for
                the purpose of verification of identity, or for the
                prevention, detection, investigation including Cyber
                incidents, or for prosecution and punishment of offenses.
                These disclosures are made in good faith and belief that
                such disclosure is reasonably necessary for enforcing
                these Terms; for complying with the applicable laws and
                regulations.
            </li>
        </ol>
    
        <h2>INFORMATION SECURITY</h2>
    
        <p>
            We take appropriate security measures to protect against
            unauthorized access to or unauthorized alteration,
            disclosure or destruction of data. These include internal
            reviews of our data collection, storage and processing
            practices and security measures, including appropriate
            encryption and physical security measures to guard against
            unauthorized access to systems where we store personal data.
        </p>
    
        <p>
            All information gathered on our App is securely stored
            within our controlled database. The database is stored
            on servers secured behind a firewall; access to the
            servers is password-protected and is strictly limited.
            However, as effective as our security measures are,
            no security system is impenetrable. We cannot guarantee
            the security of our database, nor can we guarantee that
            information you supply will not be intercepted while being
            transmitted to us over the Internet. And, of course, any
            information you include in a posting to the discussion
            areas is available to anyone with Internet access.
        </p>
    
        <p>
            However the internet is an ever evolving medium. We may
            change our Privacy Policy from time to time to incorporate
            necessary future changes. Of course, our use of any information
            we gather will always be consistent with the policy under
            which the information was collected, regardless of what the
            new policy may be. 
        </p>
    
        <h2>Grievance Redressal</h2>
    
        <p>
            Redressal Mechanism: Any complaints, abuse or concerns with
            regards to content and or comment or breach of these terms
            shall be immediately informed to the designated Grievance
            Officer as mentioned below via in writing or through email
            signed with the electronic signature to 
            <strong>preetibhojan@gmail.com</strong> addressing
            <strong>Mr. Tushar Ruparel</strong>.
        </p>
    
        <p>
            Shakunt Foods <br>
            504, A/1, Prestige Panorama “B” Hsg Society <br>
            Email: preetibhojan@gmail.com <br>
            Ph: 7030700477 <br>
        </p>
    </div>
</body>

</html>