body {
    background-color: rgb(0, 122, 164);
    opacity: 1.0;
    margin: 0;
    color: white;
}

p {
    color: white;
    text-align: justify;
}

h2 {
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

li {
    color: white;
}

#appIcon {
    width: 10%;
    height: 10%;
    
    max-width: 95px;
    max-height: 95px;

    background-color: white;
    border-radius: 50%;

    margin: 7px;
}

#appBar {
    width: 40%;
    height: 7%;
    margin: 10px;

    max-height: 120px;
    max-width: 480px;
}

.header {
    background-color: rgb(39, 43, 75);
    display: flex;
    width: 100%;
}

.body {
    margin: 10px;
    padding: 0;
}

strong {
    color: white;
}